{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react-native"
    ],
    "plugins": [
        "transform-runtime"
    ]
}